/*Set Mobile Width*/
$desktop: 2000px;
$tablet: 750;
$iphonex:500px;
$sm-phone: 300px;

/*Set color scheme*/ 
$colors: (
	primary: #d14921,
	primary-light: lighten(#d14921, 35%),

	secondary:#e9e1cc,
	secondary-dark: darken(#e9e1cc, 30%),

	invert: #ffffff
);
@function color($color-name) {
	@return map-get($colors, $color-name)
}

// Set Margins
$margin: (
	default: 15px,
	mobile: 10px,
	body: 25px,
	center: auto
);
@function margin($margin-name){
	@return map-get($margin, $margin-name)
}

// Set Padding
$padding: (
	default: 15px,
	mobile: 10px,
	body: 25px
);
@function padding($pad-name){
	@return map-get($padding, $pad-name)
}
$pageHeight: (
	mobile: 500px,
	desktop: 900px
);
@function pageHeight($page-name) {
	@return map-get($pageHeight, $page-name)
}

// Set Button size
$btn-sz: (
	small: 75px,
	medium: 115px,
	large: 75%
);
@function btn-sz($size){
	@return map-get($btn-sz, $size)
}

// Set Botton Color
$btn-col: (
	pri:color(primary), 
	sec:color(secondary),
	ter:#64ab23
);
@function btn-col($color){
	@return map-get($btn-col, $color)
}

// Set Default Border radius
$border: (
	default: 5px
);
@function border($size){
	@return map-get($border, $size)	
}

