@import url('https://fonts.googleapis.com/css?family=Karla');
*{
	margin: 0px;
	font-family: 'Karla', sans-serif;
}

#header{
	padding-left:padding(body);
	padding-right:padding(body);
	padding-top:padding(mobile);
	min-height: 800px;
	background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 	background-image: url("../assets/background_1.jpg");
	font-size: 24px;
	
}

.menu-bar li{
	color: white;
	list-style-type: none;
	display: inline-block;
	padding-left:15px ;
	padding-right: 15px;
	padding-bottom:10px;
	padding-top:10px ;
}

.menu-bar{
	margin-top: 0px;
}

.info{
	width: 400px;
	height: 400px;
	text-align: center;
	margin-top: 200px;
	margin-left: 200px;

	
	p {
		display: inline-block;
		padding: padding(default);
		font-size:2em;
		color:#f0f0f0;
	}
	button:hover{
		cusor: pointer;
		color:#f0f0f0;
		background-color: color(secondary);
	}
	button{
		-webkit-clip-path: polygon(85% 0, 100% 50%, 85% 100%, 0 100%, 15% 50%, 0 0);
		clip-path: polygon(85% 0, 100% 50%, 85% 100%, 0 100%, 15% 50%, 0 0);
		background-color:none;
		font-size: 1em;
		font-weight: bold;
		width:250px;
		color:btn-col(sec);
		padding: padding(mobile);
		border-radius: border(default);	
		border-style:none;
	}
}

#main-content{
	margin-top: margin(default);
	min-height: pageHeight(mobile);
	width: 75%;
	margin: margin(center);
	text-align: left;
}


#footer{
 	background-color: color(secondary-dark);
	padding-left: 35px;
	padding-right:35px;
	padding-top:35px;
	min-height: 250px;
	color: white;
}

.grid{

	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 15px;
}

.root{
	margin: 20px;
	padding: 10px;
	background-color: #dcd2b7;
	border-style: solid #dcd2b7;
	border-radius: border(default);
	box-shadow: 1px 2px 2px grey;
}

